.pg-content {
    height: 74vh !important;
  }

  .table td, .table th {
    vertical-align: middle;
    word-break: break-word;
  }
  
  .table tr{

      box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
    
    
  }


 
  