<div class="container mt-5">
  <div class="d-flex flex-wrap justify-content-between mb-4 w-100">

    <div class="d-flex flex-wrap align-items-center mb-2 w-100 w-md-50">
      <input class="form-control me-2 mb-2 flex-grow-1" type="text" placeholder="Search Users" [(ngModel)]="search"
        (input)="onSearchInputChange()" />
      <button class="btn btn-outline-primary mb-2 search-btn" (click)="searchUser()">Search</button>
    </div>

    <div class="d-flex align-items-center justify-content-end mb-2 w-100 w-md-auto gap-2">
      <button type="button" class="btn btn-danger text-white add-btn" routerLink="/Users/add"
        style="border-radius: 2px !important;">
        <i class="fa-solid fa-plus"></i>
        Add User
      </button>
    
      <button type="button" class="btn btn-primary text-white add-btn" routerLink="/Users/add-admin"
        style="border-radius: 2px !important;">
        <i class="fa-solid fa-user-shield"></i>
        Add Admin
      </button>
    </div>
    

  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead class="table-light">
        <tr>
        <!--  <th>ID</th>  --> 
          <th>User Name</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
       <!-- <td>{{ user.id }}</td>   -->   
          <td>{{ user.userName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.address }}</td>
          <td class="d-flex flex-wrap align-items-center">
            <button type="button" class="btn btn-warning btn-sm border2r me-2 mb-1"
              (click)="navigateToUpdate(user.id)">
              <i class="fa-solid fa-pen-to-square text-white"></i>
            </button>
            <button type="button" class="btn btn-dark btn-sm border2r me-2 mb-1"
              (click)="deleteUser(user.id)">
              <i class="fa-solid fa-trash-can text-white"></i>
            </button>
            <button class="btn btn-sm btn-info mb-1" (click)="goToUserDisplay(user.id)">View</button>
          </td>
        </tr>
      </tbody>
    </table>

  <!-- Pagination user : -->
 
<div class="d-flex justify-content-center align-items-center mt-3 pagination-container">
  <button  [disabled]="currentPage === 1" (click)="previousPage()" class="btn btn-outline-primary">
    <i class="fa-solid fa-chevron-left"></i> Previous
  </button>

  <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>

  <button class="btn btn-outline-primary" [disabled]="currentPage === totalPages" (click)="nextPage()">  Next <i class="fa-solid fa-chevron-right"></i></button>
</div>


  </div>
</div>
