@if(isLoading){
  <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center" style="height: 79vh !important;">
    <c-spinner variant="grow" color="danger" />
    <p>Loading</p>
  </div>
}@else{
  <form *ngIf="ProductForm" [formGroup]="ProductForm" (submit)="onSubmit()">
    <!-- Product Details -->
    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 border-bottom">
      <!-- Product Name & Product Description -->
      <div class="flex-column col-lg-6 col-md-6 col-sm-12 col-sm-12">
        <div class="flex-column col-lg-12 col-md-12 col-sm-12 col-12">
          Product Name
          <input type="text" class="form-control mt-1" formControlName="ProductName">
        </div>
        <div class="flex-column col-lg-12 col-md-12 col-sm-12 col-12">
          Product Description
          <textarea class="form-control mb-3" formControlName="ProductDescription" rows="3"
            style="resize: none; max-height: 4em; overflow-y: auto;"></textarea>
        </div>
      </div>
      <!-- Product Brand & Product Category -->
      <div class="flex-column col-lg-6 col-md-6 col-sm-12 col-sm-12">
        <div class="flex-column col-lg-12 col-md-12 col-sm-12 col-12">
          Brand Name
          <ng-select [items]="BrandArr" bindValue="brandId" bindLabel="brandName" placeholder="Select Brand"
            formControlName="BrandId"></ng-select>
        </div>
        <div class="flex-column col-lg-12 col-md-12 col-sm-12 col-12">
          Category Name
          <ng-select [items]="CategoryArr" bindValue="categoryId" bindLabel="categoryName" placeholder="Select Category"
            formControlName="CategoryId"></ng-select>
        </div>
      </div>
    </div>
    <!-- Stock Details -->
    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 border-bottom" formArrayName="ProductStocks">
      <div class="col-lg-12 col-md-12 col-sm-12">
        @if(UserRole=="Admin"){
        <div
          class="w-100 d-flex align-items-center justify-content-center align-items-lg-center justify-content-lg-end align-items-md-center justify-content-md-end">
          <div class="row col-lg-2 col-md-5 col-sm-12 col-12 mb-2 mt-2">
            <button class="btn btn-primary" type="button" (click)="AddProductStock()">
              <i class="fa-solid fa-plus"></i>
              Add Stock
            </button>
          </div>
        </div>
        }
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 border-bottom mt-2" style="height: 20.75vh; overflow-y: auto;">
          <div
            class="row col-12 mb-3 border-bottom d-flex align-items-center justify-content-center justify-content-lg-start gap-2"
            *ngFor="let stock of ProductStocks.controls; let i = index" [formGroupName]="i">
  
            <div class="row col-lg-2 col-md-2 col-sm-6 col-6">
              <input type="number" class="form-control ms-lg-3" formControlName="StockQuantity"
                placeholder="Product Stock">
            </div>
  
            <div class="row col-lg-2 col-md-2 col-sm-6 col-6">
              <input type="number" class="form-control ms-lg-3" formControlName="StockUnitPrice"
                placeholder="Product Price">
            </div>
  
  
  
            @if(UserRole=="Admin"){
            <div class="row col-lg-4 col-md-4 col-sm-9 col-9">
              <ng-select [items]="InventoryArr" class="mb-2 ms-lg-3" bindValue="inventoryId" bindLabel="inventoryName"
                placeholder="Select Inventory" formControlName="InventoryId"></ng-select>
            </div>
            <div class="row col-lg-1 col-md-1 col-sm-3 col-3">
              <button class="btn btn-danger text-white mb-2 ms-lg-3" type="button" (click)="DeleteStock(i)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            }@else{
              <div class="row col-lg-4 col-md-4 col-sm-12 col-12">
                <ng-select [items]="InventoryArr" class=" ms-lg-3" bindValue="inventoryId" bindLabel="inventoryName"
                  placeholder="Select Inventory" formControlName="InventoryId"></ng-select>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!-- Images Details -->
    <div class="row col-lg-12 col-md-12 col-sm-12 col-12 border-bottom" formArrayName="ProductImages">
      <div
        class="w-100 d-flex align-items-center justify-content-center align-items-lg-center justify-content-lg-end align-items-md-center justify-content-md-end">
        <div class="row col-lg-2 col-md-5 col-sm-12 col-12 mb-2 mt-2">
          <button class="btn btn-primary" type="button" (click)="AddProductImage()">
            <i class="fa-solid fa-plus"></i>
            Add Image
          </button>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 border-bottom" style="height: 20.75vh; overflow-y: auto;">
        <div
          class="row col-lg-12 col-md-12 col-sm-12 col-12 mb-1 mt-1  border-bottom d-flex align-items-center justify-content-center align-items-lg-center justify-content-lg-start  align-items-md-center justify-content-md-start  gap-2"
          *ngFor="let image of ProductImages.controls;let i = index" [formGroupName]="i">
          <div class="row col-lg-5 col-md-5 col-sm-6 col-6">
            <input type="file" class="form-control" (change)="onFileUpdate($event,i)">
          </div>
          <div *ngIf="image.get('imagePreview')?.value" class="row col-lg-1 col-md-1 col-sm-3 col-3">
            <img [src]="image.get('imagePreview')?.value" class="img-fluid p-1" alt="Preview"
              style="width: 110px;height: 75px; object-fit: contain;">
          </div>
          <div class="row col-lg-1 col-md-1 col-sm-3 col-3">
            <button class="btn btn-danger text-white 3" type="button" (click)="DeleteImage(i)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Submit Details -->
    <div class="row col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="d-flex align-items-center justify-content-center justify-content-lg-end mt-3">
        <div class="row col-lg-2 col-md-4 col-sm-12 col-12">
          <button class="btn btn-success text-white">Save Changes</button>
        </div>
      </div>
    </div>
  </form>
}