<div class="container mt-5">
  <h2 class="text-center mb-4">Add new user</h2>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <form class="classic-form p-4" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
        <div class="row">
          

          <div class="col-md-6">
            <div class="form-group mb-3">
              <label class="form-label">User Name</label>
              <input type="text" class="form-control" formControlName="userName">
              <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)">
                <div class="invalid-feedback d-block">
                  <span *ngIf="userName?.errors?.['required']">User Name is required</span>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" formControlName="firstName">
              <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
                <div class="invalid-feedback d-block">
                  <span *ngIf="firstName?.errors?.['required']">First Name is required</span>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName">
              <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
                <div class="invalid-feedback d-block">
                  <span *ngIf="lastName?.errors?.['required']">Last Name is required</span>
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label">Phone</label>
              <input type="tel" class="form-control" formControlName="phoneNumber">
            </div>
          </div>

          
          <div class="col-md-6">
            <div class="form-group mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email">
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <div class="invalid-feedback d-block">
                  <span *ngIf="email?.errors?.['required']">Email is required</span>
                  <span *ngIf="email?.errors?.['email']">Enter a valid email address</span>
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Address</label>
              <input type="text" class="form-control" formControlName="address">
              <div *ngIf="address?.invalid && (address?.dirty || address?.touched)">
                <div class="invalid-feedback d-block">
                  <span *ngIf="address?.errors?.['required']">Address is required</span>
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="userPassword">
              <div *ngIf="userPassword?.invalid && (userPassword?.dirty || userPassword?.touched)">
                <div class="invalid-feedback d-block">
                  <span *ngIf="userPassword?.errors?.['required']">Password is required</span>
                  <span *ngIf="userPassword?.errors?.['minlength']">Password must be at least 8 characters</span>
                  <span *ngIf="userPassword?.errors?.['pattern']">
                    Password must contain:
                    <ul>
                      <li>At least one uppercase letter</li>
                      <li>At least one number</li>
                      <li>At least one special character</li>
                    </ul>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Role</label>
              <select class="form-control" formControlName="role">
                <option value="">Select Role</option>
                <option value="Client">Client</option>
                <option value="Supplier">Supplier</option>
              </select>
              <div *ngIf="role?.invalid && (role?.dirty || role?.touched)">
                <div class="invalid-feedback d-block">
                  <span *ngIf="role?.errors?.['required']">Role is required</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-4 justify-content-center">
          <div class="col-6 col-md-4 mb-2">
            <button type="submit" class="btn btn-danger text-light w-100" [disabled]="addUserForm.invalid">
              Add User
            </button>
          </div>
          <div class="col-6 col-md-4">
            <button type="button" class="btn btn-secondary text-light w-100" [routerLink]="['/Users/manage']">
              Back to List
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
