@if(isLoading){
<!-- Spinner Loading -->
<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center" style="height: 79vh !important;">
  <c-spinner variant="grow" color="danger" />
  <p>Loading</p>
</div>
}@else{
<!-- Discount Search Intervals -->
<div class="row col-lg-12 col-md-12 col-sm-12 col-12 d-flex align-items-center justify-content-between">
  <div class="row col-lg-6 col-md-6 col-sm-12 col-12 ">
    <div class="col-ld-6 col-md-6 col-sm-12 col-12 flex-column">
      <label for="inp-FromDate">Start Date</label>
      <input type="date" id="inp-FromDate" class="form-control" #startDateInput
        [value]="(startDate$ | async) | date:'yyyy-MM-dd'" (change)="updateStartDate(startDateInput.value)">
    </div>
    <div class="col-ld-6 col-md-6 col-sm-12 col-12 flex-column">
      <label for="inp-ToDate">End Date</label>
      <input type="date" id="inp-ToDate" class="form-control" #endDateInput
        [value]="(endDate$ | async) | date:'yyyy-MM-dd'" (change)="updateEndDate(endDateInput.value)">
    </div>
  </div>
  <div class="row col-lg-3 col-md-4 col-sm-12 col-12">
    <button class="btn btn-primary mt-3" (click)="NavigateToDetails(0)">
      <i class="fa-solid fa-plus"></i>
      Create Discount
    </button>
  </div>
</div>
<div class="w-100" style="height: 66vh; overflow: auto;">
  <table class="table table-hover table-rounded w-100">
    <thead>
      <tr>
        <td style="width: 10%;" class="text-center">Discount Id</td>
        <td style="width: 30%;" class="text-center">Start Date</td>
        <td style="width: 30%;" class="text-center">End Date</td>
        <td style="width: 5%;" class="text-center">Discount Percentage</td>
        <td style="width: 25%;" class="text-center">Actions</td>
      </tr>
    </thead>
    <tbody>
      @for(discount of PaginatedData; track discount.discountId){
      <tr>
        <td class="align-middle text-center">{{discount.discountId}}</td>
        <td class="align-middle text-center">{{discount.discountFromDate | date:'dd-MM-yyyy' }}</td>
        <td class="align-middle text-center">{{discount.discountEndDate | date:'dd-MM-yyyy' }}</td>
        <td class="align-middle text-center">{{ discount.discountPercentage / 100 | percent }}</td>
        <td class="align-middle text-center">
          <div class="row col-lg-12 col-md-12 col-sm-12 col-12 gap-1 d-flex justify-content-center">
            <div class="row col-lg-6 col-md-6 col-sm-12 col-12">
              <button class="btn btn-warning text-white" (click)="NavigateToDetails(discount.discountId)">
                <i class="fa-solid fa-pen"></i>
              </button>
            </div>
            <div class="row col-lg-6 col-md-6 col-sm-12 col-12">
              <button class="btn btn-danger text-white" (click)="openDeleteModal(discount.discountId)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<div class="pg-footer mt-2 w-100 d-flex align-items-center justify-content-end">
  <div class="tbl-nav d-flex align-items-center gap-3">
    <button class="btn btn-outline-danger rounded-circle shadow-sm" title="Previous" (click)="prevPage()"
      [disabled]="CurrentPage == 1">
      <i class="fa-solid fa-arrow-left"></i>
    </button>

    <input type="text" class="form-control text-center border border-danger rounded-pill shadow-sm" style="width: 80px;"
      placeholder="1" disabled [ngModel]="CurrentPage" />
    Of
    <input type="text" class="form-control text-center border border-danger rounded-pill shadow-sm" style="width: 80px;"
      placeholder="1" disabled [ngModel]="TotalPages" />

    <button class="btn btn-outline-danger rounded-circle shadow-sm" title="Next" (click)="nextPage()"
      [disabled]="CurrentPage == TotalPages">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
  </div>
</div>
}






<!-- Confirm Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-danger">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Discount?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary border2r" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger border2r text-white" (click)="confirmDelete()">Yes, Delete</button>
      </div>
    </div>
  </div>
</div>
